
.hero_desktop {
    display: flex;
    align-items: center;
    min-height: 640px;
    background-repeat: no-repeat;
    padding: 125px 60px 25px 105px;
    background-image: url("/public/hero-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.course_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.first_info {
    max-width: 694px;
    font-family: Playfair Display;
    font-weight: 800;
    font-size: 77px;
    line-height: 77px;
    word-wrap: break-word;
}

.second_info {
    max-width: 500px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
}
