.learning {
  display: flex;
  flex-direction: column;
  background-color: #f0ead6;
  min-height: 545px;
  padding: 90px 120px;
  gap: 50px;
  color: #513833;
}

.learning_main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.learning_main_header {
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 35px;
}

.learning_main_info {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  max-width: 700px;
}

.learning_programm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.learning_programm_header {
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 20px;
}

.learning_programm_punkts {
  display: flex;
  position: relative;
  gap: 30px;

}

.programm_punkt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.icon_and_punkt {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.punkt_icon {
  align-self: flex-start;
}

.punkt {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  max-width: 261px;
}

.point {
  position: absolute;
  left:0;
  bottom: 0;
  width: 15px;
  height: 15px;
  z-index: 2;
}

.line {
    position: absolute;
    bottom: 4px;
    z-index: 1;
}